<div class="jumbotron">
  <h1 class="display-4"> Typescript App</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta a iure ducimus explicabo, assumenda eum iste expedita itaque fugit laudantium nostrum, eius cum, nisi similique non atque sapiente eveniet quaerat?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta a iure ducimus explicabo, assumenda eum iste expedita itaque fugit laudantium nostrum, eius cum, nisi similique non atque sapiente eveniet quaerat?</p>
    <a href="" class="btn btn-primary btn-lg">
      Tasks List
    </a>

</div>
