<section class="card">
  <div class="card-body">
    <h1>ABOUT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam molestias, provident quod soluta, ad, ratione id cupiditate consequuntur quaerat recusandae eius quasi accusamus nisi dolorum quisquam doloribus voluptates sequi impedit.</p>
  </div>
</section>