<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo harum dolor, facere commodi quia quibusdam! Odio ratione accusantium asperiores similique sit temporibus ducimus quia, recusandae explicabo molestias, consequuntur non eveniet.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, error. Nostrum perferendis ipsum laudantium rerum soluta ut delectus omnis tempore. Suscipit amet tenetur hic sequi voluptas. Ex dolorum eius iure?</p>
  <a class="btn btn-primary" href="/notes">Notes List</a>
</div>