<footer class="footer">
  <h1>My Footer</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore nostrum nesciunt labore aut, maxime sequi repudiandae minus odio atque? Modi similique non iusto atque ducimus. Asperiores aliquid porro eligendi?</p>
</footer>